<div class="container">




    <h3>Add Store</h3>




    <form (ngSubmit)="onAddStore()">




        <div class="form-group">




            <label for="managerStaffId">Manager Staff ID:</label>

           <input type="number" name="managerStaffId" [(ngModel)]="store.managerStaffId" placeholder="Id"  required #managerStaffId="ngModel"[ngClass]="{error:managerStaffId.errors && managerStaffId.touched}">

           <div *ngIf="managerStaffId.errors && managerStaffId.touched">

               <small class="text-danger" *ngIf="managerStaffId.errors['required']">Id  is required</small>

           </div>

        </div>




        <div class="form-group">




            <label for="addressId">Address ID:</label>

            <input type="number" id="addressId" name="addressId" required maxlength="10" [(ngModel)]="store.addressId" #addressId="ngModel"[ngClass]="{error:addressId.errors && addressId.touched}">

            <div *ngIf="addressId.errors && addressId.touched">

                <small class="text-danger" *ngIf="addressId.errors['required']">Address Id is required</small>

            </div>

        </div>

        <button type="submit" class="btn btn-primary">Add Store</button>




    </form>




</div>