<div class="sidebar">
    <a href="/" >

        <a class="fs-5 fw-semibold">Action</a>
    </a>
    <ul class="list-unstyled ps-0">
        <div class="dropdown">
            <button class="btn btn-toggle align-items-center rounded collapsed">
                Search
            </button>
            <div class="dropdown-content">
                <a href="#">Actor</a>
                <a href="#">Film </a>
                <a href="#">Staff</a>
                <a href="#">Store</a>
                <a href="#">Inventory</a>
            </div>
        </div>
        <li class="mb-1">
            <div class="dropdown">
                <button class="btn btn-toggle align-items-center rounded collapsed">
                    Add
                </button>
                <div class="dropdown-content">
                    <a href="#">New Actor</a>
                    <a href="#">New Film </a>
                    <a href="#">New Staff</a>
                    <a href="#">New Customer</a>
                    <a href="#">New Store</a>
                </div>
            </div>
        </li>
        <li class="mb-1">
            <div class="dropdown">
                <button class="btn btn-toggle align-items-center rounded collapsed">
                    Update
                </button>
                <div class="dropdown-content">
                    <a href="#">Update Actor Name</a>
                    <a href="#">Update File</a>
                    <a href="#">Update Staff Details</a>
                    <a href="#">Update Customer Details</a>
                    <a href="#">Update Store Details</a>
                </div>
            </div>
        </li>
        <li class="border-top my-3"></li>
       <div class="dropdown">
            <button class="btn btn-toggle align-items-center rounded collapsed">
                Revenue
            </button>
            <div class="dropdown-content">
                <a href="#">Payment Entry</a>
                <a href="#">Total Revenue</a>
                <a href="#">Revenue of Store</a>
                <a href="#">Films Revenue</a>
                <a href="#">Revenue of a Film</a>
                <a href="#">Revenue of a Films in Store</a>
            </div>
        </div>
        
    </ul>
</div>