<!-- <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>
            Welcome to our DVD Store! We offer a wide selection of movies and TV shows on DVD for your entertainment needs.
            Browse our collection and find your favorite titles to enjoy at home.
          </p>
        </div>
        <div class="col-md-4">
          <h4>Contact Information</h4>
          <p>
            Address: 1234 Main Street, City, State ZIP<br>
            Phone: (123) 456-7890<br>
            Email: info@dvdstore.com
          </p>
        </div>
        <div class="col-md-4">
          <h4>Connect With Us</h4>
          <p>
            Stay up to date with our latest releases, promotions, and news by following us on social media:
          </p>
          <ul class="social-media">
            <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2023 DVD Store. All rights reserved.</p>
          </div>
          <div class="col-md-6">
            <ul class="footer-links">
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer> -->