<!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title">Update Film</h5>
  
      <form>
        <div class="form-group">
            <label for="staffIdInput">Staff ID:</label>
            <input id="staffIdInput" type="number" name="staffId" [(ngModel)]="staffId" />
          </div>
        <div class="form-group">
            <label for="firstNameInput">First Name:</label>
            <input id="firstNameInput" type="text" name="firstName" [(ngModel)]="firstName" />
          </div>
          
          <div class="form-group">
            <label for="lastNameInput">Last Name:</label>
            <input id="lastNameInput" type="text" name="lastName" [(ngModel)]="lastName" />
          </div>
          
          <div class="form-group">
            <label for="emailInput">Email:</label>
            <input id="emailInput" type="email" name="email" [(ngModel)]="email" />
          </div>
          
           <div class="form-group">
            <label for="cityInput">City:</label>
            <input id="cityInput" type="text" name="city" [(ngModel)]="city" />
          </div>
          
          <div class="form-group">
            <label for="countryInput">Country:</label>
            <input id="countryInput" type="text" name="country" [(ngModel)]="country" />
          </div> -->

<!-- <div class="form-group">
            <label for="phoneInput">Phone:</label>
            <input id="phoneInput" type="text" name="phone" [(ngModel)]="phone" />
          </div> -->

<!-- <button class="btn btn-primary" routerLink="../film-list" routeerLinkActive="active" (click)="updateStaff()">Update Film</button>
      </form>
    </div>
  </div> -->

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="bg-light p-4 align-center">
        <h3>You Can Update Your Data Here!</h3>

        <hr />

        <div>
          <label for="staffId">Staff ID:</label>

          <input
            type="number"
            id="staffId"
            name="staffId"
            [(ngModel)]="staffId"
          />
        </div>

        <div>
          <label for="firstName">First Name:</label>

          <input
            class="mt-3"
            type="text"
            id="firstName"
            name="firstName"
            [(ngModel)]="firstName"
          />
        </div>

        <div>
          <label for="lastName">Last Name:</label>

          <input
            class="mt-3"
            type="text"
            id="lastName"
            name="lastName"
            [(ngModel)]="lastName"
          />
        </div>

        <div>
          <label for="addressId">Address ID:</label>

          <input
            class="mt-3"
            type="number"
            id="addressId"
            name="addressId"
            [(ngModel)]="addressId"
          />
        </div>

        <div>
          <label for="email">Email:</label>

          <input
            class="mt-3"
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
          />
        </div>

        <!-- <div>

                    <label for="storeId">Store ID:</label>

                    <input class="mt-3" type="number" id="storeId" name="storeId" [(ngModel)]="storeId">

                </div> -->




                <div>

                    <label for="active">Active:</label>

                    <input class="mt-3" type="text" id="active" name="active" [(ngModel)]="active">

                </div>

        <hr />

        <button class="submit" (click)="onSubmit()">
          Update Staff
        </button>
      </form>
    </div>
  </div>
</div>
