<div class="container">
  <h3>Add Staff</h3>

  <form (ngSubmit)="onAddStaff()">
    <div class="form-group">
      <label for="firstName">First Name:</label>

      <input
        type="text"
        name="firstName"
        [(ngModel)]="staff.firstName"
        placeholder="First Name"
        required
        #firstName="ngModel"
        [ngClass]="{ error: firstName.errors && firstName.touched }"
      />

      <div *ngIf="firstName.errors && firstName.touched">
        <small class="text-danger" *ngIf="firstName.errors['required']"
          >First Name is required</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>

      <input
        type="text"
        name="actorLastName"
        [(ngModel)]="staff.lastName"
        placeholder="Last Name"
        required
        #lastName="ngModel"
        [ngClass]="{ error: lastName.errors && lastName.touched }"
      />

      <div *ngIf="lastName.errors && lastName.touched">
        <small class="text-danger" *ngIf="lastName.errors['required']"
          >Last Name is required</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="addressId">Address ID:</label>

      <input
        type="number"
        id="addressId"
        name="addressId"
        required
        maxlength="10"
        [(ngModel)]="staff.addressId"
        #addressId="ngModel"
        [ngClass]="{ error: addressId.errors && addressId.touched }"
      />

      <div *ngIf="addressId.errors && addressId.touched">
        <small class="text-danger" *ngIf="addressId.errors['required']"
          >Address Id is required</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>

      <input
        type="email"
        id="email"
        name="email"
        required
        maxlength="20"
        [pattern]="emailRegex"
        [(ngModel)]="staff.email"
        #email="ngModel"
        [ngClass]="{ error: email.errors && email.touched }"
      />

      <div *ngIf="email.errors && email.touched">
        <small class="text-danger" *ngIf="email.errors['required']"
          >Email is required</small
        >

        <small class="text-danger" *ngIf="email.errors['pattern']"
          >please Enter valid Email</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="storeId" class="control-label">Store ID</label>

      <input
        type="number"
        id="storeId"
        name="storeId"
        required
        maxlength="10"
        [(ngModel)]="staff.storeId"
        #storeId="ngModel"
        [ngClass]="{ error: storeId.errors && storeId.touched }"
      />

      <div *ngIf="storeId.errors && storeId.touched">
        <small class="text-danger" *ngIf="storeId.errors['required']"
          >Store Id is required</small
        >
      </div>
      <br /><br />
    </div>

    <div class="form-group">
      <label for="active">Active:</label>

      <input
        type="number"
        id="active"
        name="active"
        required
        maxlength="10"
        [(ngModel)]="staff.active"
        #active="ngModel"
        [ngClass]="{ error: active.errors && active.touched }"
      />

      <div *ngIf="active.errors && active.touched">
        <small class="text-danger" *ngIf="active.errors['required']"
          >Press 1</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="userName">userName</label>

      <input
        type="text"
        name="username"
        [(ngModel)]="staff.userName"
        placeholder="user Name"
        required
        #username="ngModel"
        [ngClass]="{ error: username.errors && username.touched }"
      />

      <div *ngIf="username.errors && username.touched">
        <small class="text-danger" *ngIf="username.errors['required']"
          >User Name is required</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="password">password:</label>

      <input
        type="text"
        name="password"
        [(ngModel)]="staff.password"
        placeholder="password "
        required
        #password="ngModel"
        [ngClass]="{ error: password.errors && password.touched }"
      />

      <div *ngIf="password.errors && password.touched">
        <small class="text-danger" *ngIf="password.errors['required']"
          >Password is required</small
        >
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Add Staff</button>
  </form>
</div>
