<!-- <!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 0px;
    }
    

   

   
  </style>
</head>

<body> -->
  <!-- <p>
    <mat-toolbar class="exm">
      <mat-toolbar-row>
        <span >
          <a href="#" class="btn-group" style="color: rgb(8, 3, 3);" routerLink="">Movie Store</a> 
        </span>
        <div class="dropdown">
          <button class="btn btn-toggle align-items-center rounded collapsed">
            Search
          </button>
          <div class="dropdown-content">
            <a href="#">Actor</a>
            <a href="#">Film </a>
            <a href="#">Staff</a>
            <a href="#">Store</a>
            <a href="#">Inventory</a>
          </div>
        </div> -->
        <!-- <div class="dropdown">
          <button class="btn btn-toggle align-items-center rounded collapsed">
            Add
          </button>
          <div class="dropdown-content">
            <a href="#" >New Actor</a>
            <a href="#" routerLink="add-film">New Film </a>
            <a href="#" routerLink="add-staff">New Staff</a>
            <a href="#" routerLink="add-customer">New Customer</a>
            <a href="#">New Store</a>
          </div>
        </div> -->
        <!-- <div class="dropdown">
          <button class="btn btn-toggle align-items-center rounded collapsed">
            Update
          </button>
          <div class="dropdown-content">
            <a href="#">Update Actor Name</a>
            <a href="#">Update File</a>
            <a href="#">Update Staff Details</a>
            <a href="#">Update Customer Details</a>
            <a href="#">Update Store Details</a>
          </div>
        </div> -->
        <!-- <div class="dropdown">
          <button class="btn btn-toggle align-items-center rounded collapsed">
            Revenue
          </button>
          <div class="dropdown-content">
            <a href="#" routerLink="payment-entry">Payment Entry</a>
            <a href="#" routerLink="view-revenue">Total Revenue</a>
            <a href="#">Revenue of Store</a>
            <a href="#">Films Revenue</a>
            <a href="#">Revenue of a Film</a>
            <a href="#">Revenue of a Films in Store</a>
          </div>
        </div> -->
        <!-- <span class="example-spacer"></span>
        <button mat-icon-button class="icon" aria-label="Example icon-button with heart icon">
          <mat-icon routerLink="profile">account_circle</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p> -->

  
  <!-- <div class="col-md-9">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="fixed-bottom  text-white text-center py-3">
    &copy; 2023 Your Website. All rights reserved.
  </footer>


</body> -->

<!-- </html> -->
<!-- <app-home-page></app-home-page> -->
 <!-- <app-update-film></app-update-film> 
<app-film-list></app-film-list>  -->
 <app-home-page></app-home-page>
<!-- <app-navbar></app-navbar>  -->
 <router-outlet></router-outlet> 
<!-- <app-add-actor></app-add-actor>
<app-actor></app-actor> -->
<!-- <app-customer-list></app-customer-list> -->
<!-- <app-rental></app-rental> -->



<!-- <app-add-film></app-add-film>
<app-actor></app-actor> -->